'context-menu':
  'atom-text-editor[data-grammar~=python]': [
    {
      'label': 'Python'
      'submenu': [
        { 'label': 'Run File', 'command': 'autocomplete-python-pulsar:run-file' }
        { 'type': 'separator' }
        { 'label': 'Go To Definition', 'command': 'autocomplete-python-pulsar:go-to-definition' }
        { 'label': 'Show Usages', 'command': 'autocomplete-python-pulsar:show-usages' }
        { 'label': 'Rename…', 'command': 'autocomplete-python-pulsar:rename' }
        { 'label': 'Override Method…', 'command': 'autocomplete-python-pulsar:override-method' }
        { 'label': 'Complete Arguments', 'command': 'autocomplete-python-pulsar:complete-arguments' }
        { 'type': 'separator' }
        { 'label': 'Toggle Semantic Highlighting', 'command': 'autocomplete-python-pulsar:toggle-semantic-highlighting' }
      ]
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Autocomplete Python'
        'submenu': [
          { 'label': 'Run File', 'command': 'autocomplete-python-pulsar:run-file' }
          { 'label': 'Stop', 'command': 'autocomplete-python-pulsar:stop' }
          { 'label': 'Toggle Output Pane', 'command': 'autocomplete-python-pulsar:toggle-output' }
          {
            'label': 'Output Font Size'
            'submenu': [
              { 'label': 'Increase', 'command': 'autocomplete-python-pulsar:increase-output-font-size' }
              { 'label': 'Decrease', 'command': 'autocomplete-python-pulsar:decrease-output-font-size' }
              { 'label': 'Reset (follow editor)', 'command': 'autocomplete-python-pulsar:reset-output-font-size' }
            ]
          }
          { 'label': 'Toggle Semantic Highlighting', 'command': 'autocomplete-python-pulsar:toggle-semantic-highlighting' }
          { 'type': 'separator' }
          { 'label': 'Select Interpreter…', 'command': 'autocomplete-python-pulsar:select-interpreter' }
          { 'label': 'Show Environment', 'command': 'autocomplete-python-pulsar:show-environment' }
          { 'label': 'Restart Daemon', 'command': 'autocomplete-python-pulsar:restart-daemon' }
          { 'type': 'separator' }
          { 'label': 'Go To Definition', 'command': 'autocomplete-python-pulsar:go-to-definition' }
          { 'label': 'Show Usages', 'command': 'autocomplete-python-pulsar:show-usages' }
          { 'label': 'Rename…', 'command': 'autocomplete-python-pulsar:rename' }
          { 'label': 'Override Method…', 'command': 'autocomplete-python-pulsar:override-method' }
        ]
      }
    ]
  }
]
